{erl_opts, [debug_info]}.
{deps, [
         {lib_sd,{git,"https://github.com/joq62/lib_sd.git",{branch,"main"}}},
	 {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}},
	 {etcd,{git,"https://github.com/joq62/etcd.git",{branch,"main"}}},
	 {hw_conbee,{git,"https://github.com/joq62/hw_conbee.git",{branch,"main"}}},
	 {zigbee_devices,{git,"https://github.com/joq62/zigbee_devices.git",{branch,"main"}}}
	
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [varmdo_conbee_provider]}
]}.
{relx, [
    {release, {etcd_provider, "0.1.0"}, [log, etcd, lib_sd, etcd_provider]}
]}.
